<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Crypto Currency Escrow, Crypto Currency Escrow website in Nigeria">
    <meta name="description" content="Buy and Sell Crypto Currency Safely without fear.">
    <title>ECN | Escrow Nigeria</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./dist/output.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/js.js"></script>
    <style>
        .active{  background-color: #717171;}
    </style>
</head>
<body class="scroll-smooth">
    <!--<i class="fa fa-th-large" aria-hidden="true"></i>-->
    <!--Desktop Navigation BAR Start-->
    <nav class="lgscreen max-w-full w-full  md:w-full  lg:w-full  bg-[#162348] flex flex-row justify-evenly items-center pt-10 fixed z-50 lg:flex lg:flex-row lg:justify-evenly lg:items-center lg:pt-10 lg:fixed lg:z-50">
        <div class="logo w-[50px] md:ml-5 md:w-[30px] lg:w-[80px]">
            <img src="./images/logopng.PNG" alt="Escrow Nigeria" class="w-[50px]  md:w-[30px]lg:w-[80px]">
        </div>
        <div class="link hidden md:block lg:block">
            <a class="  inline-block pl-20 text-white font-bold leading-normal tracking-normal" href="#home">Home</a>
            <a class=" inline-block pl-20 text-white font-bold leading-normal tracking-normal" href="#whychooseus">About Us</a>
            <a class="inline-block pl-20 text-white font-bold leading-normal tracking-normal" href="#home">Events</a>
            <a  class="inline-block pl-20 text-white font-bold leading-normal tracking-normal" href="#contact">Contact</a>
        </div>
        <div class="hambuger__container hidden md:block lg:block ml-40 p-3">
            <div class="hambuger   border border-[#a3d9f6] cursor-pointer p-2 text-3xl rounded-xl" id="ham">
                <i class=" text-white fa fa-th-large" aria-hidden="true " id="icon"></i>
            </div>
        </div>  
        <!--Hambuger Mobile start-->
        <div class="hambuger__menu ml-40 p-3 md:hidden lg:hidden ">
            <div class="hambuger_sm   border border-[#a3d9f6] cursor-pointer p-2 text-3xl rounded-xl" id="ham">
                <i class=" text-white fa fa-th-large" aria-hidden="true " id="icon_sm"></i>
            </div>
        </div>  
        <!--Hambuger Mobile End-->
       
    </nav>
     <!--Desktop Navigation BAR Start-->
    <!--Desktop lOGIN dIV START-->
    <div class="access hidden md:bg-[#203562] md:w-48 md:rounded-lg md:fixed md:top-[128px] md:left-[76%]  md:z-40">
        <div class="bg-[#203562] w-3 h-3 absolute left-[163px] rotate-45  transform-gpu z-50 top-[-5px]"></div>
        <a class=" block p-4 text-white text-sm font-bold" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="pl-2">Log In</span></a>
        <span class="block bg-[#5d63ff] w-40 h-[1px] m-auto"></span>
        <a class=" block p-4 text-white font-bold text-sm"href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="pl-2">Create an Account</span></a>
    </div>
    <!--Desktop lOGIN dIV END-->
    <!--Mobile Navigation Start-->
    <div class="access_mobile hidden  md:hidden lg:hidden bg-[#203562] w-[350px] md:rounded-lg fixed top-[128px] left-[3.5%]  z-40 rounded-xl">
        <div class="bg-[#203562] w-3 h-3 absolute left-[280px] rotate-45  transform-gpu z-50 top-[-5px]"></div>
        <a class=" block p-4 text-white hover:text-[#5d63ff] text-sm font-bold "  href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="pl-2">Home</span></a>
        <span class="block bg-[#5d63ff] w-72 h-[1px] m-auto"></span>
        <a class=" block p-4 text-white  hover:text-[#5d63ff] font-bold text-sm"href="#whychooseus"><i class="fa fa-users" aria-hidden="true"></i><span class="pl-2">About Us</span></a>
        <a class=" block p-4 text-white hover:text-[#5d63ff] text-sm font-bold" href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="pl-2">Events</span></a>
        <span class="block bg-[#5d63ff] w-72 h-[1px] m-auto"></span>
        <a class=" block p-4 text-white hover:text-[#5d63ff] font-bold text-sm"href="#contact"><i class="fa fa-phone" aria-hidden="true"></i><span class="pl-2">Contact</span></a>
        <a class=" block p-4 text-white hover:text-[#5d63ff] text-sm font-bold" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="pl-2">Log In</span></a>
        <span class="block bg-[#5d63ff] w-72 h-[1px] m-auto"></span>
        <a class=" block p-4 text-white  hover:text-[#5d63ff] font-bold text-sm"href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="pl-2">Create an Account</span></a>
    </div>
    <!--Mobile Navigation END-->

    <header class="bg-[#162348] "><!--Header Start-->
        <!--Header Call to action Start-->
        <div class="header_cta pt-36 flex flex-col bg-[#162348] md:flex md:justify-evenly md:items-center md:flex-row md:pt-36 md:bg-[#162348]">
            <div class="cta__content w-[360px] mb-10 md:mb-0 m-auto  md:w-[580px] md:ml-20  md:p-2 ">
                <h1 class="text-center md:text-left lg:text-left">
                   <span class=" block text-[36px] font-bold text-[#93e0f8] leading-6 font-[Poppins] md:block md:text-[60.62px] md:font-bold md:text-[#93e0f8] md:leading-6 md:font-[Poppins]  "> Trusted cry<span class="text-[#c6b9f5]">pto</span></span> 
                    <span class="block text-[36px] md:text-[60.62px] font-bold text-[#93e0f8]  font-[Poppins] "> escrow servi<span class="text-[#c6b9f5]">ces.</span></span>
                </h1>
                <h6 class=" text-[12px] md:text-[15px] text-white font-semibold leading-tight  font-[Poppins] mb-5 md:text-left lg:text-left text-center">We offer escrow Services for anything, physical or intangible.</h6>
                <p class="text-gray-300 font-medium leading-[2] text-[9px] md:text-[12px] w-[300px] lg: md:w-[420px] mb-5 text-center md:text-left lg:text-left m-auto md:ml-0 lg:ml-0" >
                    As of right now, crypto is the only method of escrow because it is extremly simple and easy for all parties to complete a transaction without any issues.
                </p>
                <div class="cta__button flex justify-center items-center md:flex md:justify-start w-[360px]  h-20">
                    <div class="learnmore  mr-3">
                        <a href="#" class="text-white font-[Poppins] font-semibold text-sm md:text-xl lg:text-xl bg-[#5d63ff] px-5 py-3 md:px-10 lg:px-10 md:py-5 lg:py-5 rounded-xl ">Learn More</a>
                    </div>
                    <div class="getintouch">
                        <a href="#">
                            <i class="fa fa-commenting-o text-[#5d63ff] font-semibold" aria-hidden="true"></i>
                            <span class="text-white text-xs font-semibold font-[Poppins]" >Get in Touch</span>
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="cta__illustration  w-[320px] pt-5 m-auto md:w-[550px] " >
                <img src="./images/img 1.png" alt="Escrow Building" class="w-[320px] md:ml-[120px]">
            </div>
    
        </div>   <!--Header Call to action END-->


    </header><!--Header Start END-->
    <!--bg-gradient-to-r from-[#1c3863] to-[#142845] border border-[#5c63fd]-->
    <section class="stat__section pt-10 bg-[#162348] ">
        <div class="stat_container bg-[#162348] w-full max-w-full  pt-5 md:pb-5  ">
            <h4 class="text-white text-[12px] text-center md:text-left lg:text-left md:text-[15px] lg:text-[15px] font-semibold leading-tight tracking-[1px] md:pl-24 font-[Poppins] pb-5 pt-5 ">We have the numbers to back it  up.</h4>
            <div class="stat__content flex flex-row justify-evenly md:flex-row lg:flex-row items-center md:items-center md:justify-between lg:justify-between  md:w-[85%] w-[350px] m-auto ">
                <div class="statisfied__clients  w-[80px] md:w-[180px] lg:w-[180px] px-5 ">
                
                    <p><span class=" text-[12px] md:text-[24.44px] pr-3 text-[#5d63ff] "><i class="fa fa-heart" aria-hidden="true"></i></span><span class="text-white font-semibold text-[12px] md:text-[24.44px] leading-tight tracking-[1px] font-[Poppins]">10,000</span></p>
                    <p class="text-gray-300 md:text-center font-semibold text-[9px] md:text-[12px] leading-tight tracking-[1px]">Statisfied Clients</p>
                
                </div>
                <div class="total__volume w-[80px] md:w-[180px] lg:w-[180px] px-5">
                    <p><span class=" text-[12px] md:text-[24.44px] pr-3 text-[#5d63ff]"><i class="fa fa-heart" aria-hidden="true"></i></span><span class="text-white font-semibold text-[12px] md:text-[24.44px] leading-tight tracking-[1px] font-[Poppins]">13,392</span></p>
                    <p class="text-gray-300 text-center font-semibold text-[9px] md:text-[12px] leading-tight tracking-[1px]">Total Volum Escrowed</p>
                </div>
                <div class="transactions w-[80px] px-5 md:w-[180px] lg:w-[180px]">
                    <p >
                        <span class=" text-[12px] md:text-[24.44px] pr-3 text-[#5d63ff] "><i class="fa fa-heart" aria-hidden="true"></i></span>
                        <span class="text-white font-semibold text-[12px] md:text-[24.44px] leading-tight tracking-[1px] font-[Poppins]">2,193</span>
                    </p>
                    <p class="text-gray-300 text-center font-semibold text-[9px] md:text-[12px] leading-tight tracking-[1px]">Transactions In Total</p>
                </div>
                <div class="scroll w-[80px] md:w-[180px] lg:w-[180px]">
                    <h6 class="text-white text-center font-semibold text-[9px] md:text-[12px] leading-tight tracking-[1px]">Scroll Down</h6>
                </div>
            </div>
        </div>
    </section>

    
    <section class="pt-10 md:pt-32 bg-[#162348] " id="whychooseus">
        <div class="chooseUs__container bg-[#162348] ">
            <div class="chooseUs_content flex flex-col md:justify-evenly md:flex-row lg:justify-evenly pb-10">
                <div class="lt w-[360px] m-auto text-center md:text-left md:m-0 lg:m-0 md:w-[500px] ">
                    <h3 class="text-2xl font-[Poppins] font-semibold text-[#93e0f8] ">
                        <span>Why choose</span><span> us</span>
                        <i class="fa fa-question text-[#5d63ff]" aria-hidden="true"></i>
                    </h3>
                </div>
                <div class="rt w-[360px] m-auto md:m-0 lg:m-0 md:w-[500px] ">
                    <span class="block text-center md:text-left lg:text-left text-[12px] text-white leading-10 pb-3 tracking-[1px]  font-semibold font-[Poppins]">We make the process simple and effortless.</span>
                    <p class="text-gray-300 font-normal font-[Poppins] text-[12px] pb-2  leading-5 tracking-[1.5px] text-center md:text-left lg:text-left">Enthusiatically engage fully tested process improvment before top-line platforms and without any specific or worsening delays</p>
                    <p class="text-gray-300 font-normal font-[Poppins] text-[12px] pb-2 pt-2  leading-5 tracking-[1.5px] text-center md:text-left lg:text-left">
                        Rapaciously seize  adaptive information and user-centric before intellectual capital. Collaborative unleash market-driven "outside the box" thinking for long-term high-impact solutions.
                    </p>
            </div>
            </div> 
            <div class="features flex flex-col md:flex-row justify-evenly bg-[#1b2d57] w-[95%] md:w-[85%] m-auto  md:p-10 rounded-3xl ">
                <div class="tn w-[350px]  m-auto mt-5 md:m-0 md:w-[500px] p-5 bg-[#2e4a73] rounded-3xl border border-[#5c63fd] md:mr-5 lg:mr-5">
                    <div class="bardge bg-[#5c63fd] w-[50px] h-[50px] text-[30px] rounded-2xl m-auto md:ml-10"><i class="fa fa-shield  text-white pt-3 pb-3 pl-3 pr-3" aria-hidden="true"></i></div>
                    <h6 class=" text-center md:text-left text-white font-[Poppins] font-semibold pt-3 pb-3">
                        <span >Top-Notch Swecurity</span>
                    </h6>
                    <p class=" leading-[1.5] tracking-[1px] font-[Poppins] font-normal text-[12px] text-[#FFFFF7]">
                        Proactivity envision brand new multimedia based expertise
                        to also make revenue growth.
                    </p>
                </div>
                <div class="qs  w-[350px] m-auto md:m-0 md:w-[500px] p-5 bg-[#2e4a73] rounded-3xl mt-5 mb-5 border border-[#5c63fd] md:mr-5 lg:mr-5">
                    <div class="bardge bg-[#5c63fd] w-[50px] h-[50px] text-[30px] rounded-2xl m-auto md:ml-10"><i class="fa fa-clock-o text-white pt-3 pb-3 pl-3 pr-3" aria-hidden="true"></i></div>
                    <h6 class="text-center md:text-left text-white font-[Poppins] font-semibold pt-3 pb-3 pr-3" >
                        <span>Quick Service</span>
                    </h6>
                    <p class="leading-[1.5] tracking-[1px] font-[Poppins] font-normal text-[12px] text-[#FFFFF7]">
                        Bring to the table new win-win survival strategies to ensure an active domination.
                    </p>
                </div>
                <div class="bmr w-[350px] m-auto md:m-0  md:w-[500px] p-5 bg-[#2e4a73] rounded-3xl mb-5 border border-[#5c63fd] md:mr-5 lg:mr-5">
                    <div class="bardge bg-[#5c63fd] w-[50px] h-[50px] text-[30px] rounded-2xl m-auto md:ml-10"><i class="fa fa-clock-o  text-white pt-3 pb-3 pl-3 pr-3" aria-hidden="true"></i></div>
                    <h6 class="text-center md:text-left text-white font-[Poppins] font-semibold pt-3 pb-3">
                        <span>Quick Service</span>
                    </h6>
                    <p class="leading-[1.5] tracking-[1px] font-[Poppins] font-normal text-[12px] text-[#FFFFF7]">
                        Bring to the table new win-win survival strategies to ensure an active domination.
                    </p>
                </div>
                <!--Last Card-->
                <div class="bmr w-[350px] m-auto md:m-0  md:w-[500px] p-5 bg-[#2e4a73] rounded-3xl mb-5 border border-[#5c63fd] ">
                    <div class="bardge bg-[#5c63fd] w-[50px] h-[50px] text-[30px] rounded-2xl m-auto md:ml-10"><i class="fa fa-clock-o  text-white pt-3 pb-3 pl-3 pr-3" aria-hidden="true"></i></div>
                    <h6 class="text-center md:text-left text-white font-[Poppins] font-semibold pt-3 pb-3">
                        <span>Quick Service</span>
                    </h6>
                    <p class="leading-[1.5] tracking-[1px] font-[Poppins] font-normal text-[12px] text-[#FFFFF7]">
                        Bring to the table new win-win survival strategies to ensure an active domination.
                    </p>
                </div>

                <!--end of card-->
                

            </div>   
        </div>
    </section>
    <section class="pt-10 bg-[#162348]">
        <div class="volume__container">
            <h3 class="text-2xl font-[Poppins] font-semibold text-center pb-10">
                <span class="block text-2xl font-bold text-[#93e0f8] leading-6 font-[Poppins]  "> Total volume escro<span class="text-[#c6b9f5]">wed.</span></span> 
                </h3>
            <div class="volume__content flex flex-col md:flex-row lg:flex-row lg:w-[95%]  m-auto md:flex md:w-[70%] md:m-auto  ">
                <div class="usdt m-auto mb-5 md:mb-0 w-[300px] md:w-[300px] bg-[#2e4a73]  rounded-2xl pt-10 border border-[#5c63fd]">
                    <div class="icon bg-[#5c63fd] w-[50px] h-[50px] p-2 rounded-2xl m-auto  ">
                        <img src="./images/usdt.PNG" alt="USDT" width="60px" >
                    </div>
                    <h3 class="text-center pt-2">
                       <span class="block text-[#ffffff] text-2xl font-semibold font-[Poppins]"> USDT/C</span>
                       <span class="block  text-[#FFFFF7] font-medium text-[9px]"> STABLE COIN</span>
                    </h3>
                    <div class="hr w-[175px] h-[0.5px] bg-[#8896ac] m-auto mt-5 mb-5"></div>
                    
                        <span class="block text-white leading-10 tracking-[1.5px] w-[200px] m-auto font-semibold font-[Poppins] text-2xl text-center">0.0000 USDC</span>
                        <span class=" text-[#fffff7] text-center block text-[14px] font-[Poppins] font-medium pb-10 leading-10 tracking-[1px] ">$0.00 USD</span>
                    
                       
                </div><!--END OF USDC-->
                <div class="btc w-[300px] md:w-[300px] bg-[#2e4a73]  rounded-2xl pt-10 border border-[#5c63fd] md:ml-5 m-auto mb-5 md:mb-0">
                    <div class="icon bg-[#5c63fd] w-[50px] h-[50px] p-2 rounded-2xl m-auto "><img src="./images/btc.PNG" alt="BTC" width="60px" ></div>
                    <h3 class="text-center pt-2">
                       <span class="block text-[#ffffff] text-2xl font-semibold font-[Poppins]">BTC</span>
                       <span class="block  text-[#FFFFF7] font-medium text-[9px]">BITCOIN</span>
                    </h3>
                    <div class="hr w-[175px] h-[0.5px] bg-[#8896ac] m-auto mt-5 mb-5"></div>
                    <h3>
                        <span class="block text-white leading-10 tracking-[1.5px] w-[200px] m-auto font-semibold font-[Poppins] text-2xl text-center">0.0000 BTC</span>
                        <span class=" text-[#fffff7] text-center block text-[14px] font-[Poppins] font-medium pb-10 leading-10 tracking-[1px] ">$0.00 BTC</span>
                    </h3>
                       
                </div><!--END OF BTC -->
                <div class="usdt m-auto mb-5 md:mb-0 w-[300px] md:w-[300px] bg-[#2e4a73]  rounded-2xl pt-10 border border-[#5c63fd] md:ml-5">
                    <div class="icon bg-[#5c63fd] w-[50px] h-[50px] p-2 rounded-2xl m-auto "><img src="./images/eth.PNG" alt="etherum"  width="25px"></div>
                    <h3 class="text-center pt-2">
                       <span class="block text-[#ffffff] text-2xl font-semibold font-[Poppins]"> ETH</span>
                       <span class="block  text-[#FFFFF7] font-medium text-[9px]"> ETHERUM</span>
                    </h3>
                    <div class="hr w-[175px] h-[0.5px] bg-[#8896ac] m-auto mt-5 mb-5"></div>
                    <h3 >
                        <span class="block text-white leading-10 tracking-[1.5px] w-[200px] m-auto font-semibold font-[Poppins] text-2xl text-center">0.0000 ETH</span>
                        <span class=" text-[#fffff7] text-center block text-[14px] font-[Poppins] font-medium pb-10 leading-10 tracking-[1px] ">$0.00 ETH</span>
                    </h3>
                       
                </div>

            </div>
            <div class="total w-[75%] md:w-[70%] m-auto  mt-10 p-10 border border-[#5c63fd] rounded-2xl">
                <h3 class="text-center ">
                    <span class="block font-semibold text-white text-2xl font-[Poppins]">$13,392 USD</span>
                    <span class="block  text-[#fffff7] text-[9px] font-medium">Total Volume Escrowed</span>
                </h3>
            </div>
        </div>
        <div class="w-[80%] h-[0.5px] border border-[#5c63fd] m-auto md:mt-40 lg:mt-40 mt-20"></div>
    </section>
    <section class="pt-10 bg-[#162348]">
        <div class="testi__container flex flex-col w-[95%] md:flex-row lg:flex-row md:w-[80%]  m-auto justify-between " >
            <div class="testi__content w-[350px] md:w-[480px] mb-10 md:mb-20 lg:mb-20 m-auto ">
                <h3 class="pb-8 text-center md:text-left lg:text-left">
                    <span class="block text-3xl font-bold text-[#93e0f8] leading-10 font-[Poppins]  "> What our clien<span class="text-[#c6b9f5] ">ts</span></span> 
                    
                    <span class="block text-3xl font-bold text-[#93e0f8] leading-6 font-[Poppins]  " >have to say.</span>
                </h3>
                <p class="text-[12px] text-[#fffff7] px-5 md:px-0 lg:px-0 md:w-[280px] mb-14 text-center md:text-left lg:text-left">
                    Rapaciously seize adaptive information and with user-centric
                    before capital. Collaboration unleash market-driven "outside the box" thinking.
                </p>
                <div class="button w-48 m-auto md:ml-0 ">
                    <a class="bg-[#5c63fd] md:py-5 md:px-10 md:ml-0 text-white text-xs md:text-base lg:text-base  font-semibold font-[Poppins] rounded-3xl py-3 px-10 ml-5 " href="#">Get In Touch</a>
                </div>
            </div>
            <div class="slides w-full  m-auto md:w-[480px] lg:w-[480px]  rounded p-8">
<!--slide1 start--> <div class="slide1 mySlides hidden rounded-3xl p-5 bg-gradient-to-b from-[#1c3863] to-[#142845] border border-[#5c63fd] animate-pulse">
                    <h1 class="text-white text-lg font-medium font-[Poppins]">1What our happy users say</h1>
                    <p class="text-white text-[10px] font-medium font-[Poppins]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, molestiae nam eaque rem sit incidunt voluptatibus quibusdam iure harum, cumque molestias natus laborum. Consequuntur saepe eaque deserunt odio tempore beatae!
                    </p>
                    <div class="user flex  mt-3 ">
                        <div class="profile w-10  h-10  mr-2 rounded-full"><img src="images/images.jpg" class="w-10 h-10 rounded-full"></div>
                        <div class="detials w-[200px]">
                            <h2 class=" text-[12px] font-semibold font-[Poppins] text-white">Philips Emilano</h2>
                            <h3 class=" text-[10px] font-medium font-[Poppins] text-white">Financial Manager at ACME</h3>
                        </div>
                    </div>
                </div> <!--Slide1 end-->
                <!--Slide 2 start-->
                <div class="slide2 animate-pulse mySlides hidden rounded-3xl p-5 bg-gradient-to-b from-[#1c3863] to-[#142845] border border-[#5c63fd]">
                    <h1 class="text-white text-lg font-medium font-[Poppins]">2What our happy users say</h1>
                    <p class="text-white text-[10px] font-medium font-[Poppins]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, molestiae nam eaque rem sit incidunt voluptatibus quibusdam iure harum, cumque molestias natus laborum. Consequuntur saepe eaque deserunt odio tempore beatae!
                    </p>
                    <div class="user flex  mt-3 ">
                        <div class="profile w-10  h-10  mr-2 rounded-full"><img src="images/slide2.jpg" class="w-10 h-10 rounded-full"></div>
                        <div class="detials w-[200px]">
                            <h2 class=" text-[12px] font-semibold font-[Poppins] text-white">Philips Emilano</h2>
                            <h3 class=" text-[10px] font-medium font-[Poppins] text-white">Financial Manager at ACME</h3>
                        </div>
                    </div>
                </div><!--Slide 2 END-->
                <div class="slide3 animate-pulse mySlides hidden rounded-3xl p-5 bg-gradient-to-b from-[#1c3863] to-[#142845] border border-[#5c63fd]"><!--Slide 3 Start-->
                    <h1 class="text-white text-lg font-medium font-[Poppins]">3What our happy users say</h1>
                    <p class="text-white text-[10px] font-medium font-[Poppins]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, molestiae nam eaque rem sit incidunt voluptatibus quibusdam iure harum, cumque molestias natus laborum. Consequuntur saepe eaque deserunt odio tempore beatae!
                    </p>
                    <div class="user flex  mt-3 ">
                        <div class="profile w-10  h-10  mr-2 rounded-full"><img src="images/slide3.jpg" class="w-10 h-10 rounded-full"></div>
                        <div class="detials w-[200px]">
                            <h2 class=" text-[12px] font-semibold font-[Poppins] text-white">Philips Emilano</h2>
                            <h3 class=" text-[10px] font-medium font-[Poppins] text-white">Financial Manager at ACME</h3>
                        </div>
                    </div>
                </div><!--Slide 3 END-->
                <div class="slide4 animate-pulse mySlides hidden rounded-3xl p-5 bg-gradient-to-b from-[#1c3863] to-[#142845] border border-[#5c63fd]"><!--Slide 4 Strat-->
                    <h1 class="text-white text-lg font-medium font-[Poppins]">4What our happy users say</h1>
                    <p class="text-white text-[10px] font-medium font-[Poppins]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, molestiae nam eaque rem sit incidunt voluptatibus quibusdam iure harum, cumque molestias natus laborum. Consequuntur saepe eaque deserunt odio tempore beatae!
                    </p>
                    <div class="user flex  mt-3 ">
                        <div class="profile w-10  h-10  mr-2 rounded-full"><img src="images/slide4.jpg" class="w-10 h-10 rounded-full"></div>
                        <div class="detials w-[200px]">
                            <h2 class=" text-[12px] font-semibold font-[Poppins] text-white">Philips Emilano</h2>
                            <h3 class=" text-[10px] font-medium font-[Poppins] text-white">Financial Manager at ACME</h3>
                        </div>
                    </div>
                </div><!--Slide 4 END-->
                <!--Controls Container START-->
                <div class="controls flex justify-between mt-5">
                    <div class="text-center">
                        <span class="dot    rounded-full inline-block w-3 h-3 bg-[#bbbbbb] active  hover:bg-[#717171] cursor-pointer " onclick="currentSlide(1)"></span>
                        <span class="dot  rounded-full inline-block w-3 h-3 bg-[#bbbbbb] active  hover:bg-[#717171] cursor-pointer" onclick="currentSlide(2)"></span>
                        <span class="dot  rounded-full inline-block w-3 h-3 bg-[#bbbbbb] active  hover:bg-[#717171] cursor-pointer" onclick="currentSlide(3)"></span>
                        <span class="dot  rounded-full inline-block w-3 h-3 bg-[#bbbbbb] active  hover:bg-[#717171] cursor-pointer" onclick="currentSlide(4)"></span>
                     
                    </div>
                     
                    <div class="arrows cursor-pointer">
                        <a onclick="plusSlides(-1)" class="pr-3"><i class="fa fa-arrow-left text-white" aria-hidden="true"></i></a>
                        <a onclick="plusSlides(1)"><i class="fa fa-arrow-right text-white" aria-hidden="true"></i></a>
                    </div>
                </div> <!--Controls Container END-->
            </div>
        </div>
    </section>
    <section class="pt-10  bg-[#162348]" id="contact">
        <div class="join__container flex flex-col md:flex w-[85%] m-auto justify-between p-8  bg-gradient-to-r from-[#1c3863] to-[#142845] border border-[#5c63fd] rounded-2xl">
            <div class="join__content mb-10">
                <h3>
                    <span class=" text-center block text-3xl font-bold text-[#93e0f8] leading-10 font-[Poppins]  ">Join the moveme<span class="text-[#c6b9f5] ">nt</span></span> 
                </h3>
                <p class="text-[#fffff7] w-[200px] md:w-[320px] text-[10px] leading-5 mb-10  md:p-0 text-center m-auto">
                    Let's stay in touch, join our communities to keep up to date
                    with updates and the Escrow Nigeria Team.
                </p>
                <a href="#" class="block w-[150px] text-center m-auto md:inline text-[12px] bg-[#5c63fd] py-3 px-10 rounded-xl text-[#fffff7] font-semibold font-[Poppins]"><i class="fa fa-telegram " aria-hidden="true"> Telegram</i></a>
                <a href="#" class="block w-[150px] text-center m-auto md:inline mt-10 md:mt-0 text-[12px] border border-[#5c63fd] py-3 px-10 md:ml-2 rounded-xl text-[#fffff7] font-semibold font-[Poppins] "><i class="fa fa-facebook" aria-hidden="true"> Facebook</i></a>
            </div>
            <div class="join__illus">
                   
            </div>

        </div>
    </section>
    <footer class="bg-[#162348]">
        <div class="upper__footer flex   align-middle w-[80%] m-auto pt-20">
            <div class="logo w-80">
                <img src="./images/logopng.PNG" alt="Escrow Nigeria" class=" w-[50px] md:w-[80px]">
            </div>
            <div class="footer__links text-[9px] text-white font-semibold md:text-[12px]  w-[470px]">
                <a href="#">Home</a>
                <a href="#whychooseus" class="pl-3  md:pl-20">About Us</a>
                <a href="#" class=" pl-3  md:pl-20">Events</a>
                <a href="#contact" class="pl-3  md:pl-20"  >Contact Us</a>
            </div>
        </div>
        <div class="footer__hr w-[80%] h-[0.5px] border border-[#5c63fd] m-auto mt-10"></div>
       
        <div class="footer__bottom flex w-[80%] m-auto pt-10 pb-10 justify-between text-white">
            <div class="fbl text-[12px] text-[gray] md:text-[16px]">
                <span>Copy @ 2021 Crypto Escrow Service, all rights reserved.</span>
            </div>
            <div class="fbr text-[12px]">
                <span>Designed by Lamodot.</span>
            </div>
        </div>
        
    </footer>
  <script src="js/javascript.js"></script>
</body>
</html>